*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    
}
.ejercicios{
    display: grid;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 20%;
    margin-right: 20%;
}

.black{
    font-weight: bold;
}
